
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Noto+Sans+Hebrew:wght@200;400;500;600;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans Hebrew', sans-serif !important;
  background: linear-gradient(89.88deg, #FFEBE2 -0.16%, #FFE5DA 100%);



}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bitter', serif !important;
  font-weight: 700 !important;
}
h3{
  font-family: Bitter !important;
  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0.18000000715255737px !important;

}
h4{
font-family: Bitter;;
font-size: 24px;;
font-weight: 700;;
line-height: 24px;;
letter-spacing: 0.18000000715255737px;;
text-align: left;
}
h5{
  font-family: Bitter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}
section{
  padding: 60px 0;
}

a{
  text-decoration: none  !important;
}

img{
  width: 100%;
}
